/*======================================================== 
// Page styling
========================================================*/
@import url('https://fonts.googleapis.com/css?family=Sarpanch');

body {
  font-family: 'Sarpanch', arial;
  margin-top: 20px;
  background-color: rgb(250, 252, 255);
}