/*======================================================== 
// General page styling
========================================================*/
@import url('https://fonts.googleapis.com/css?family=Play');

body {
  font-family: 'Play', arial;
  margin-top: 20px;
  background: linear-gradient(to right, black, rgb(36, 36, 36));
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #79adc4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #79adc4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #79adc4;
}
:-moz-placeholder { /* Firefox 18- */
  color: #79adc4;
}

::selection {
  background: #00ffea; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #00ffea; /* Gecko Browsers */
}