/*======================================================== 
// Page styling
========================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', arial;
  margin-top: 20px;
  background-color: rgb(250, 252, 255);
}