/* ======================================================== 
// General styling
========================================================*/
p {
  font-size: 16px;
}

td {
  font-size: 16px;
}

h3 {
  text-align: center;
  font-size: 24px;
  -webkit-margin-after: 0px;
}

/* ======================================================== 
// Header styling
========================================================*/
.header {
  display: inline-block;
}

.header-img {
  padding: 10px;
  height: 60px;
  float: left;
}

.header h2 {
  cursor: pointer;
  float: right;
  font-weight: 300;
  color: #4c6875;
}

.signin-register-btn {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  line-height: 40px;
  max-width: 300px;
  margin: 40px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 97, 224, 0.61);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.signin-register-btn:hover {
  background: #25628b;
}

/* ======================================================== 
// Search container styling
========================================================*/
.search-form {
  position: absolute;
  display: block;
  top: 0;
  right: 80px;
  max-width: 420px;
  margin: 40px;
}

.search-input {
  font-family: 'Sarpanch', arial;
  float: left;
  height: 40px;
  width: 180px;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.search-input:hover {
  background-color: #e7e7e7;
}

.search-button {
  float: right;
  height: 40px;
  outline: none;
  background-color: rgba(0, 97, 224, 0.61);
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

.search-button:hover {
  background: #25628b;
}

/* ======================================================== 
// Crypto List styling
========================================================*/
.cryptos {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cryptos-header {
  height: 40px;
  width: 100%;
  line-height: 10px;
  background-color: #4c687541;
  border: 1px solid #4c6875a4;
}

.cryptos-header p {
  font-weight: 300px;
  color: #4c6875;
}

.cryptos-header p {
  width: 200px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.cryptos-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cryptos-item td {
  height: 50px;
  width: 200px;
  border-bottom: 1px solid #d7dbdf;
}

.text-symbol-styling {
  color: #4c6875;
}

.search-error {
  text-align: center;
  margin: 40px 0 60px 0;
}

/* ======================================================== 
// Footer styling
========================================================*/
.footer {
  height: 300px;
  border-top: 1px solid rgba(54, 110, 184, 0.678);
  background-color: rgba(72, 133, 212, 0.678);
}

.footer p {
  padding: 120px;
  text-align: center;
}

/* ======================================================== 
// Signin and registration form shared styling
========================================================*/
.form-control {
  display: block;
  height: 40px;
  border-radius: 0 0.35em 0.35em 0;
  font-size: 1em;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  outline: none;
}

.form-group.has-feedback {
  display: block;
}

label.control-label {
  width: 400px;
  color: white;
  font-size: 120%;
  margin-left: auto;
  margin-right: auto;
}

input.form-control {
  font-family: 'Sarpanch', arial;
  width: 300px;
  margin: 10px auto;
}

.login-img {
  display: block;
  height: 200px;
  margin: 0 auto;
}

/* ======================================================== 
// Signin styling
========================================================*/
.signin-form {
  display: block;
  position: relative;
  height: 250px;
}

.signin-submit {
  font-family: 'Sarpanch', arial;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120%;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 97, 224, 0.61);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.signin-submit:hover {
  background: #25628b;
}

.signin-form a {
  color: rgba(0, 97, 224, 0.61);
  text-align: center;
  text-decoration: none;
}

.signin-form a:hover { 
  color: #25628b;
}

.signin p {
  text-align: center;
  margin-bottom: 40px;
}

/* ======================================================== 
// Registration styling
========================================================*/
.register-form {
  display: block;
  position: relative;
  height: 300px;
}

.register-submit {
  font-family: 'Sarpanch', arial;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120%;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 97, 224, 0.61);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.register-submit:hover {
  background: #25628b;
}

.register p {
  text-align: center;
  margin-bottom: 40px;
}