/* ======================================================== 
// Header styling
========================================================*/
.header {
  display: inline-block;
}

.header-img {
  height: 90px;
  float: left;
}

.header h1 {
  cursor: pointer;
  float: right;
}

/* ======================================================== 
// Search container styling
========================================================*/
.search-form {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  max-width: 420px;
  margin: 40px;
}

.search-input {
  float: left;
  height: 40px;
  width: 320px;
  font-size: 1em;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.search-input:hover {
  background-color: #e7e7e7;
}

.search-button {
  float: right;
  height: 40px;
  outline: none;
  background-color: rgba(0, 97, 224, 0.61);
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

.search-button:hover {
  background: #25628b;;
}

/* ======================================================== 
// Crypto List styling
========================================================*/
.top-cryptos {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.top-cryptos hr {
  width: 100%;
  border-color: #ffb951;
  border-style: dashed;
}

table td:nth-child(2) {
  background: rgba(0, 97, 224, 0.048);
}

table td:nth-child(4) {
  background: rgba(0, 97, 224, 0.048);
}

.top-cryptos thead {
  background-color: rgba(0, 97, 224, 0.61);
}

.top-cryptos-item td {
  height: 50px;
  width: 200px;
}

.top-cryptos-rank {
  width: 50px;
}

.top-cryptos-name {
  width: 250px;
}

.top-cryptos-marketcap {
  width: 200px;
}

.top-cryptos-price {
  width: 200px;
}

.top-cryptos-change24H {
  width: 150px;
}