/* ======================================================== 
// General styling.
========================================================*/
p {
  color: #79adc4;
  font-size: 16px;
}

td {
  font-size: 16px;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #eeff00;
}

/* ======================================================== 
// Header styling. Note that this doesn't include the 
// search or signin buttons since they're in a different 
// container.
========================================================*/
.header {
  display: inline-block;
}

.header-img {
  padding: 10px;
  height: 60px;
  float: left;
}

.header h2 {
  cursor: pointer;
  float: right;
  line-height: 40px;
  font-weight: 700;
  color: #eeff00;
}

/* ======================================================== 
// Search container styling.
========================================================*/
.search-form {
  position: absolute;
  display: block;
  top: 0;
  right: 80px;
  max-width: 420px;
  margin: 40px;
}

.search-input {
  color: #79adc4;
  font-family: 'Sarpanch', arial;
  float: left;
  height: 40px;
  width: 180px;
  background-color: rgb(36, 36, 36);
  padding: 10px 15px;
  border: 1px solid rgb(0, 101, 119);
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.search-input:hover {
  background-color: black;
}

.search-button {
  float: right;
  height: 40px;
  outline: none;
  background-color: rgb(0, 101, 119);
  border: 1px solid rgb(0, 101, 119);
  padding: 0px 15px;
  margin: 0px 5px 0px 0px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

.search-button:hover {
  color: black;
}

/* ======================================================== 
// Signin button styling.
========================================================*/
.signin-register-btn {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  line-height: 40px;
  max-width: 300px;
  margin: 40px;
  font-size: 14px;
  text-decoration: none;
  color: #79adc4;
  background-color: rgb(0, 101, 119);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.signin-register-btn:hover {
  color: black;
}

/* ======================================================== 
// Crypto List styling.
========================================================*/
.cryptos {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cryptos-header {
  height: 40px;
  width: 100%;
  line-height: 10px;
  background-color: rgb(15, 15, 15);
  border: 2px ridge rgb(0, 101, 119);
}

.cryptos-header p {
  font-weight: 300px;
  color: #eeff00;
}

.cryptos-header p {
  width: 200px;
  text-align: center;
  display: inline-block;
  font-weight: bold;
}

.cryptos-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.cryptos-item td {
  height: 50px;
  width: 200px;
  color: white;
  border-bottom: 1px solid rgb(0, 101, 119);
}

.text-symbol-styling {
  color: #79adc4;
}

.search-error {
  text-align: center;
  margin: 40px 0 60px 0;
}

.search-error img {
  height: 600px;
  width: auto;
  border: 1px solid rgb(0, 101, 119);
}

/* ======================================================== 
// Crypto Details styling.
========================================================*/
.crypto-detail {
  width: 400px;
  height: 420px;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 100px;
  margin-top: 80px;
  background-color: rgb(15, 15, 15);
  border-radius: 0 0.35em 0.35em 0;
  border: 2px solid rgb(0, 101, 119);
  border-style: ridge;
}

.crypto-detail h2 {
  color: #eeff00;
}

.crypto detail p {
  color: white;
}

.follow-btn {
  display: block;
  line-height: 40px;
  max-width: 300px;
  margin: 0px auto 0px auto;
  font-size: 14px;
  text-decoration: none;
  color: #79adc4;
  background-color: rgb(0, 101, 119);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.follow-btn:hover {
  color: black;
}

/* ======================================================== 
// Footer styling.
========================================================*/
.footer {
  height: 300px;
  border: 1px solid rgb(0, 101, 119);
  background-color: rgb(15, 15, 15);
}

.footer p {
  padding: 120px;
  text-align: center;
  color: #79adc4;
}

.footer a {
  color: #eeff00;
}

/* ======================================================== 
// Signin and registration modal styling.
========================================================*/
.modal-close {
  text-align: right;
  margin: 5px 10px 0px 0px;
  color: #79adc4;
  font-weight: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: rgb(0, 101, 119);
}

.form-control {
  display: block;
  height: 40px;
  border-radius: 0 0.35em 0.35em 0;
  font-size: 1em;
  font-family: 'Sarpanch', arial;
  background-color: rgb(36, 36, 36);
  color: #79adc4;
  padding: 10px 15px;
  border: 2px solid rgb(0, 101, 119);
  outline: none;
}

.form-control:hover {
  background-color: black;
}

.form-group.has-feedback {
  display: block;
}

label.control-label {
  width: 400px;
  color: white;
  font-size: 120%;
  margin-left: auto;
  margin-right: auto;
}

input.form-control {
  font-family: 'Sarpanch', arial;
  width: 300px;
  margin: 10px auto;
}

.login-img {
  display: block;
  height: 200px;
  margin: 0 auto;
}

.create-account {
  cursor: pointer;
}

.create-account p {
  color: #79adc4;
}

.create-account p:hover {
  color: rgb(0, 101, 119);
}

/* ======================================================== 
// Signin styling.
========================================================*/
.signin-modal {
  width: 400px;
  height: 660px;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 100px;
  margin-top: 80px;
  background-color: rgb(15, 15, 15);
  border-radius: 0 0.35em 0.35em 0;
  border: 2px solid rgb(0, 101, 119);
  border-style: ridge;
}

.signin-form {
  display: block;
  position: relative;
  height: 250px;
}

.signin-submit {
  font-family: 'Sarpanch', arial;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120%;
  line-height: 40px;
  text-decoration: none;
  color: #79adc4;
  background-color: rgb(0, 101, 119);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.signin-submit:hover {
  color: black;
}

.signin-form a {
  color: rgb(0, 101, 119);
  text-align: center;
  text-decoration: none;
}

.signin-form a:hover { 
  color: black;
}

/* ======================================================== 
// Registration styling.
========================================================*/
.register-modal {
  width: 400px;
  height: 700px;
  margin: auto;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 100px;
  margin-top: 80px;
  background-color: rgb(15, 15, 15);
  border-radius: 0 0.35em 0.35em 0;
  border: 2px solid rgb(0, 101, 119);
  border-style: ridge;
}

.register-form {
  display: block;
  position: relative;
  height: 300px;
}

.register-submit {
  font-family: 'Sarpanch', arial;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 120%;
  line-height: 40px;
  text-decoration: none;
  color: #79adc4;
  background-color: rgb(0, 101, 119);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.register-submit:hover {
  color: black;
}

.register p {
  text-align: center;
  margin-bottom: 40px;
}

/* ======================================================== 
// Account page styling.
========================================================*/
.account h2 {
  text-align: center;
}

.account p {
  text-align: center;
}

.signout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Sarpanch', arial;
  font-size: 120%;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 97, 224, 0.61);
  border: none;
  padding: 0px 15px;
  border-radius: 8px 8px 8px 8px;
  cursor: pointer;
}

.signout:hover { 
  color: black;
}

/* ======================================================== 
// Loading circle styling.
========================================================*/
.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 280px auto 280px auto;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}